# Tupule - ()

In [ ]:

myGroup = ('a','b','c','d','e','f')

#list1 = ('a','b','c','d','e','f')
#print(list1)

In [ ]:
print(myGroup.index('a'))
#print(myGroup.count())

In [ ]:
print(type(myGroup))

In [ ]:
myGroup2 =('a',1,'c','d')

In [ ]:
print(myGroup2)

repetition of data

In [ ]:
myGroup*2

In [ ]:
myGroup[2]

In [ ]:
myGroup[0:5]

In [ ]:
print(myGroup)

Empty Tupule

In [ ]:
myGroup3= ()

In [ ]:
print(myGroup3)

single value Tupule

In [ ]:
myGroup4=('a')

In [ ]:
print(myGroup4)

# Tupule are IMMUTABLE - you cannot change values

In [ ]:
tup1 = (12,3.56)
tup2= ('abc','xyz')

In [ ]:
print(tup1)
print(tup2)

In [ ]:
tup1[0]=10

# Immutable Tupules

In [ ]:
 a = ("aples","bananas","oranges")

In [ ]:
print(a)

In [ ]:
print(id(a))

In [ ]:
b = a

In [ ]:
print(b)

In [ ]:
print(id(b))

In [ ]:
a=('berries', 'bananas', 'oranges')

In [ ]:
print(id(a))

In [ ]:
print(b)
print(id(b))

In [ ]:
print(a)

# List

In [ ]:
la = ["apple", "banas","oranges"]
print(la)
print(id(la))

In [ ]:
lb = la

In [ ]:
print(lb)
print(id(lb))

In [ ]:
la.append("apples1")

In [ ]:
print(la)
print(id(la))

In [ ]:
print(lb)
print(id(lb))

create new tupule

concatenation of 2 tupules by  creating a 3rd new tupule

In [ ]:
tup3=tup1+tup2

In [ ]:
print(tup3)

immutable data types - int, string, floats,  tupules,

In [ ]:
tup4=tup1+tup2

In [ ]:
del tup4

In [ ]:
print(tup4)

In [ ]:
len(tup3)

In [ ]:
print(type(tup3))

# LIST - []

In [ ]:
myList =['a',1,3.14, 'python']

In [ ]:
print(myList)

In [ ]:
print(type(myList))

In [ ]:
myList *2

slicing/indexing the data

In [ ]:
myList[0]

In [ ]:
myList[0:3]

# List are MUTABLE-you can change values

Append

In [ ]:
myList.append('d')

In [ ]:
print(myList)

insert in a specific index

In [ ]:
myList.insert(2,'new value2')

In [ ]:
print(myList)

In [ ]:
myList [1]=2

In [ ]:
print(myList)

In [ ]:
myList [1]='new Value3'

In [ ]:
print(myList)

In [ ]:
#del myList
#myList will be lost and removed from the memory

In [ ]:
myGroup3= myList

In [ ]:
print(myGroup3)

In [ ]:
print(type(myGroup3))

In [ ]:
myList.insert(2,myGroup)

In [ ]:
print(myList)

# Dictionary- {}, - Key and Values

In [ ]:
myDictionary = {1:'John', 2:'Bob', 3:'Alice'}

In [ ]:
myDictionary.keys()
myDictionary.values()

In [ ]:
print(myDictionary)

In [ ]:
print(myDictionary[3])

In [ ]:
myDictionary2 = {'name1':'John', 'name2':'Bob', 'name3':'Alice'}

In [ ]:
print(myDictionary2)

In [ ]:
print(myDictionary2['name1'])

In [ ]:
myDictionary3 = {'name1':'John', 1:[1,2,3,4], 'name2':'Alice',2:[1,2,3,4]}

In [ ]:
print(myDictionary3[1])

In [ ]:
print(myDictionary3['name1'])

In [ ]:
myDictionary3.keys()

In [ ]:
myDictionary3.values()

In [ ]:
myDictionary3.keys

In [ ]:
myDictionary4 = {1:'John', 1:[1,2,3,4], 1:'Alice',2:[1,2,3,4]}

In [ ]:
print(myDictionary4)

In [ ]:
myDictionary4.pop(2)

In [ ]:
myDictionary4

In [ ]:
myDictionary4.popitem()

In [ ]:
myDictionary4

# Set

In [ ]:
mySet ={1,2,3}

In [ ]:
print(mySet)

Union - |

In [ ]:

mySet1 ={1,2,'c'}
mySet2={1,'b','c'}

In [ ]:
mySet1|mySet2

In [ ]:
type(mySet1)

Union - Keyword

In [ ]:
mySet1.union(mySet2)

In [ ]:
print(mySet1,mySet2)

In [ ]:
mySet1.intersection(mySet2)

In [ ]:
print(mySet1,mySet2)

In [ ]:
mySet1 & mySet2

In [ ]:
mySet1.difference(mySet2)

In [ ]:
mySet1.pop()

In [ ]:
mySet1

In [ ]:
print(mySet1,mySet2)

In [ ]:
mySet1 ={1,2,'c','d'}
mySet2={1,'b','c'}

In [ ]:
mySet1.update(mySet2)

In [ ]:
mySet1

# Loops

# IF

In [ ]:
if condition 
    statement1
    
statement2

In [ ]:
i =10
if (i < 15):
    print("10 is less than 15")
else:
    print("X is greater than 15")
    
print("Iam not in If condition")

# If elif else ladder

In [ ]:
#i = None
i=200
if (i==10):
    print("i is 10")
elif (i==15):
    print("i is 15")
elif (i==20):
    print("i is 20")
elif (i==30):
    print("i is 30")
else:
    print("i is not present")
    
print("This is outside of if")

Nested if

In [ ]:
i = 10
if (i==10):
    print("i is 10")
    if (i<15):
        print("i is smaller than 15")
elif (i==15):
    print("i is 15")
elif (i==20):
    print("i is 20")
elif (i==30):
    print("i is 30")
else:
    print("i is not present")
    
print("This is outside of if")

# FOR LOOP

for Var in Interable:

'' or " "

'''

'''

In [ ]:
l =["this","is","a","list"]

In [ ]:
for i in l:
    print(i)

In [ ]:
t =("this","is","a","tupule")
for i in t:
    print(i)

In [ ]:
d= dict()
d['xyz']=123
d['abc']=345
#d.keys()
#d.values()

for i in d:
    print("%s%  d"% (i,d[i]) )

In [ ]:
d['xyz']=123
d['abc']=345

for i in d:
    print(i, d[i] )

# CONTINUE

In [ ]:
for letter in "TestContinue":
    if letter =='C':
           continue
    print('current letter:',letter)
print('letter==\'C\' is true so skip but CONTINUE the Loop')

# Break

In [ ]:
for letter in "TestBreak":
    if letter =='B':
           break
    print('current letter:',letter)
print('letter==\'B\' is true and so BREAK the loop and exit')

# Range

In [ ]:
for i in range(5):
    print(i)

In [2]:
l =[10,20,30,40]
#print(len(l))
for i in range(len(l)):
    print(l[i])

10
20
30
40

# Range (Start, End, Step Up)

In [5]:
#sum =0
#for i in range (1,10):
for i in range (1,10,3):
    print("Print the numbers:",i)
    #sum = sum + i
    #print("Print the numbers:",sum)

Print the numbers: 1
Print the numbers: 4
Print the numbers: 7

# For Else

In [8]:

for  i in range (1,4):
    print(i)
else:
    print("Else")
#print("Else")
#print("Else")
#print("Else")

1
2
3
Else

In [143]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print( n, 'equals', x, '*', n/x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

# While

In [9]:
count =0
while (count < 3):
    count = count +1
    print("Hello Team")

Hello Team
Hello Team
Hello Team

In [10]:
i=0
a ="whilecont"
while  i < len(a):
    if a[i]=='e' or a[i]=='h':
        
        print('cont:',i)
        i = i +1
        continue
        
    
    print("current letter:",a[i])
    print('whiletext:',i)
    i = i +1

current letter: w
whiletext: 0
cont: 1
current letter: i
whiletext: 2
current letter: l
whiletext: 3
cont: 4
current letter: c
whiletext: 5
current letter: o
whiletext: 6
current letter: n
whiletext: 7
current letter: t
whiletext: 8

# While Else

In [11]:
i =0
while i <4:
    i += 1
    print(i)
else:
    print("this is else")

1
2
3
4
this is else

# Key Differences between LIST and TUPULE
Mutable vs Immutable

LIST

In [12]:
l =["apples","bannas"]
print(l)

['apples', 'bannas']

In [13]:
id(l)

2403535427656

In [14]:
l[0]= "berries"

In [15]:
print(l)

['berries', 'bannas']

In [16]:
id(l)

2403535427656

TUPULE

In [17]:
t =("apples","bannas")
print(t)

('apples', 'bannas')

In [18]:
id(t)

2403535335048

In [19]:
t[0]= "berries"

TypeError: 'tuple' object does not support item assignment

In [20]:
t =("berries","bannas")
print(t)

('berries', 'bannas')

In [21]:
id(t)

2403535424008

In [22]:
print(t[0])

berries

In [23]:
t[1]

'bannas'

# Key Differences between LIST and TUPULE

# performance - When to use

In [26]:
#time taken by mutalble list
import time

def using_List():
    t1 = time.time()#Starting/Initial Time
    L=[]
    X = range(50000)
    for item in X:
        L.append(item)
    #print(L)
    return time.time()-t1

list_time = using_List()
print(list_time)

0.004987478256225586

In [27]:
#time taken by Tupule which is immutable
import time

def using_Tupule():
    tt1 = time.time()#Starting/Initial Time
    T=()
    X = range(50000)
    for item in X:
        T = T + (item,)
        #single tuple needs a ,
    #print(T)
    return time.time()-tt1

Tupule_time = using_Tupule()
print(Tupule_time)

6.006747007369995

# Debugging problems for Mutable Data Types

In [28]:
a=[1,3,5,7]
b=a

print(a)
print(id(a))
print(b)
print(id(b))
#to copy the values of the list to a new location
c=a.copy()

print(c)
print(id(c))
#to copy the values of the list to a new location- using key word list
d= list(a)

print(d)
print(id(d))

[1, 3, 5, 7]
2403581911432
[1, 3, 5, 7]
2403581911432
[1, 3, 5, 7]
2403581859144
[1, 3, 5, 7]
2403577952968

In [29]:
b[0]=-10

print(b)
print(id(b))

[-10, 3, 5, 7]
2403581911432

In [30]:
print(a)
print(id(a))

[-10, 3, 5, 7]
2403581911432

# User Defined Functions and Passing Parameters

Create a function

In [36]:
def Classify_on_age(age):
    classification =""
    if age <= 13:
        classification ="Hello Kid"
    elif age > 13 and age < 20:
        classification ="Hello Teen"
    elif age > 20 and age < 25:
        classification ="Hello Adult"
        
    else: 
        classification ="Hello Professional"
    return classification

In [37]:
output=Classify_on_age(13)
print(output)

Hello Kid

In [38]:
def fun1(a,b,c):
    print (a,b,c)

In [39]:
def fun2(a,b,c):
    return (a,b,c)

In [41]:
fun1(40,50,60)
#print(fun1(10,20,30))

40 50 60

In [44]:
def fun3(a,b,c):
    print (a,b,c)

In [45]:
fun3(10,20)

TypeError: fun3() missing 1 required positional argument: 'c'

Default Values

In [49]:
def fun4(a,b,c=10):
    print (a,b,c)

In [50]:
fun4(10,20)

10 20 10

# Unlimited number of Parameters

*args will help pass unlimited number of parameters, *args is the coding convention, but any name can used

In [52]:
def fun5 (*args):
    print(args)
    print(type(args))

In [54]:
fun5(10,20,30,40,50,60,70)

(10, 20, 30, 40, 50, 60, 70)
<class 'tuple'>

In [55]:
fun5(10,'python',30,40,50)

(10, 'python', 30, 40, 50)
<class 'tuple'>

In [56]:
def fun6 (*custom):
    print(custom)
    print(type(custom))

In [57]:
fun6(10,'python',30,40,50)

(10, 'python', 30, 40, 50)
<class 'tuple'>

# unlimited parameters as key value pair

In [58]:
def fun7 (**keyargs):
    print(keyargs)
    
    print(keyargs.keys())
    print(keyargs.values())
    print(type(keyargs))

In [60]:
fun7(a=10,b='Python', age=50)

{'a': 10, 'b': 'Python', 'age': 50}
dict_keys(['a', 'b', 'age'])
dict_values([10, 'Python', 50])
<class 'dict'>

In [61]:
def fun8 (**keycustom):
    print(keycustom)
    print(type(keycustom))

In [62]:
fun8(a=10,b='Python', age=50)

{'a': 10, 'b': 'Python', 'age': 50}
<class 'dict'>

# Return Dictionary

In [63]:
def fun9():
    
    dictTable={1:'name',2:'age',3:'gender'}
    
    return dictTable

In [64]:
a=fun9()
print(a)

{1: 'name', 2: 'age', 3: 'gender'}

# Pass a Unlimited  arguments and argument types

In [ ]:
#def fun8 (**keycustom):

In [71]:
def fun11(a,b,c=10, *args, **keyargs):
    print(a,b,c)
    print (args)
    print(keyargs)

    
fun11(10,20,30,40,50,60,70,name='jack',age='30',business='Telecom',tel='120')

10 20 30
(40, 50, 60, 70)
{'name': 'jack', 'age': '30', 'business': 'Telecom', 'tel': '120'}

# Pass a 'list' as an argument

In [72]:
def fun10(nameList):
    for x in nameList:
        print(x)

In [73]:
nameList =["jack","jill"]
fun10(nameList)

jack
jill

# Pass a 'list' as an argument - Method 2- * args for iterables

In [74]:
# sum_integers_args_3
def my_sum(*args):
    result = 0
    for x in args:
        result += x
    return result

list1 = [1, 2, 3]
list2 = [4, 5]
list3 = [6, 7, 8, 9]

print(my_sum(*list1, *list2, *list3))

45

# Passing parameters as Dictionary

In [75]:
# Python program to demonstrate 
# passing dictionary as argument 
# A function that takes dictionary 
# as an argument 
def func(d): 
	
	for key in d: 
		print("key:", key, "Value:", d[key]) 
		
# Driver's code 
D = {'a':1, 'b':2, 'c':3} 
func(D)

key: a Value: 1
key: b Value: 2
key: c Value: 3

# Pass a 'Dictionary' as an argument

In [76]:
# A function that takes dictionary  as an argument 
def func(d): 
	
	for key in d: 
		print("key:", key, "Value:", d[key]) 
		
# Driver's code 
D = {'a':1, 'b':2, 'c':3} 
func(D)

key: a Value: 1
key: b Value: 2
key: c Value: 3

# Pass a 'Dictionary' as an argument - Method 2, **args

In [77]:
# Python program to demonstrate 
# passing dictionary as kwargs 
def display(**name): 

    print (name["fname"]+" "+name["mname"]+" "+name["lname"]) 


    # passing dictionary key-value 
    # pair as arguments 
display(fname ="John", mname ="F.", lname ="Kennedy")

John F. Kennedy

# External output in Jupyter (Input)

# Print formatting - using % String Modulo

integer and floats for printing

In [80]:
print("Team: %d, Work: %.4f" % (1000.000,00050000.33999))

Team: 1000, Work: 50000.3400

In [81]:
print("Team: %d" % (2500000000000000000000000000000))

Team: 2500000000000000000000000000000

octal values -0

In [82]:
print("Team: %2o" % (2500000000000000000000000000000))

Team: 3743367610021300442454464000000000

In [83]:
print("Team: %10.3E"% (0500007.339999999999))

Team:  5.000E+05

# Print formatting - using {} placeholders

In [84]:
print("this is {} team for {}" .format('HP','football'))

this is HP team for football

In [86]:
print("this is {1} team for {0}" .format('HP','football'))

this is football team for HP

# integers -d and float -f

In [87]:
print("this is {1} team for {0}" .format('mobily','football'))

this is football team for mobily

In [88]:
print("this is {0:2.2f} team for {1:d}" .format(12.4445,200))

this is 12.44 team for 200

# Print dictionary p

In [92]:
#myDictionary4 = {1:'John', 1:[1,2,3,4], 1:'Alice',2:[1,2,3,4]}

#tab = {'empid':[127,3232,234], 'deptid':212}
tab = {'empid':127, 'deptid':212}
print(tab['empid'])
print(tab)
print("Empid: {0[empid]:d}; DeptId: {0[deptid]:f}" .format(tab))

127
{'empid': 127, 'deptid': 212}
Empid: 127; DeptId: 212.000000

In [93]:
teamDict={'name':"Jack",'Team':"Mobily"}
print(teamDict)

print("Footballer {0[name]} plays for team {0[Team]}" .format(teamDict))

{'name': 'Jack', 'Team': 'Mobily'}
Footballer Jack plays for team Mobily

# File Handling

In [94]:
'''
Open()
parameters:
    r : reading
    w : writing
    a : appending
various modificaitons to the above 
    r+
    w+
'''

'\nOpen()\nparameters:\n    r : reading\n    w : writing\n    a : appending\nvarious modificaitons to the above \n    r+\n    w+\n'

In [97]:
file1 = open("mobily.txt",'w')
file1.write("this is mobily team1\n")
file1.write("this is mobily team2\n")
file1.close()

# with

In [98]:
with open("mobily.txt") as file4:
    data = file4.read()
    print(data)
#file.close()

this is mobily team1
this is mobily team2

split()

In [99]:
with open("mobily.txt","r") as file5:
    data = file5.readline()
   
    #for line in data:
    
    #word = line.split()
    #print(word)
    print(data)

this is mobily team1

In [100]:
with open("mobily.txt","r") as file5:
    data = file5.readlines()
    
    for line in data:
        word = line.split()
    print(word)
    print(data)

['this', 'is', 'mobily', 'team2']
['this is mobily team1\n', 'this is mobily team2\n']

seek

In [103]:
with open("mobily.txt","r") as file7:
    data = file7.readlines()
    file7.seek(10)
    data = file7.readlines()
    print(data)
    file7.seek(7)
    #print(file7.read(7))
    data2 = file7.readlines()
    print(data2)
    #print(file7.read(50))
    
    #for line in data:
    #    word = line.split()
    #print(word)
    #print(data)

['bily team1\n', 'this is mobily team2\n']
[' mobily team1\n', 'this is mobily team2\n']

# Read Write operations using Multiple files

In [104]:
file8 = open("mobily2.txt","a")
L = ["this is mobily team4\n","this is mobily team5\n","this is mobily team6\n"]

file8.write("Hello\n")
file8.writelines(L)
file8.close()

In [105]:
with open("mobily2.txt","r") as file9:
    data = file9.readline()
    #file.seek(7)
    print(data)
    
    for line in data:
        word = line.split()
    print(word)
    #print(data)

Hello

[]

# File operations using Pandas

In [106]:
#File Handling in Jupyter using Pandas
import pandas as pd
#df1 = pd.read_csv("C:/Users/HP/Downloads/Intelli/IntelliDataSciencePython/PythonDataScience/1PythonTrainingToUSe/Module1_GettingStarted_With_python/CodeFiles/Cars.csv")
#df1 = pd.read_csv("C:/Users/arunk/Downloads/Intelli/IntelliDataSciencePython/PythonDataScience/1PythonTrainingToUSe/Module1_GettingStarted_With_python/CodeFiles/Cars.csv")

df2 = pd.read_csv("C:\\Users\\arunk\\Downloads\\Intelli\\IntelliDataSciencePython\\PythonDataScience\\1PythonTrainingToUSe\\Module1_GettingStarted_With_python\\CodeFiles\\Cars.csv")

#C:\\Users\\arunk\\Downloads\\Intelli\\IntelliDataSciencePython\\PythonDataScience\\1PythonTrainingToUSe\\Module1_GettingStarted_With_python\\CodeFiles
    
#print(df1)
print(df2)

    HP        MPG  VOL          SP         WT
0   49  53.700681   89  104.185353  28.762059
1   55  50.013401   92  105.461264  30.466833
2   55  50.013401   92  105.461264  30.193597
3   70  45.696322   92  113.461264  30.632114
4   53  50.504232   92  104.461264  29.889149
5   70  45.696322   89  113.185353  29.591768
6   55  50.013401   92  105.461264  30.308480
7   62  46.716554   50  102.598513  15.847758
8   62  46.716554   50  102.598513  16.359484
9   80  42.299078   94  115.645204  30.920154
10  73  44.652834   89  111.185353  29.363341
11  92  39.354094   50  117.598513  15.753535

Python Native FIle handling

In [107]:
#Example
#f = open("demofile.txt", "r")
f = open("Cars.csv", "r")
print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: 'Cars.csv'

In [108]:
#Example: Append
f = open("demofile2.txt", "a")
f.write("Now the file has one more line!")
f.close()

In [111]:
#Example: Overwrite
f = open("demofile.txt", "w")
f.write("Create teh file!")
#f.write("Woops! I have deleted the content!")
f.close()

In [112]:
# Deleting the file
import os
os.remove("demofile.txt")

# Lambda

In [114]:
a=lambda x: (x%2 != 0)
print(a(5))

True

# Using Filter() with Lambda

In [117]:
# Python code to illustrate 
# filter() with lambda() 
li = [5, 7, 22,24,26, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0) , li)) 
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

# function that filters vowels

In [118]:
# function that filters vowels

def fun(variable): 
	letters = ['a', 'e', 'i', 'o', 'u'] 
	if (variable in letters): 
		return True
	else: 
		return False


# sequence 
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r'] 

# using filter function
#we are creating list of vowels and filltering out only the vowels below:
filtered = filter(fun, sequence) 

print('The filtered letters are:') 
for s in filtered: 
	print(s)

The filtered letters are:
e
e

# Error and Exception Handling in Python

Examples of Different types of Error are Given Below:

In [121]:
int('five')

ValueError: invalid literal for int() with base 10: 'five'

In [122]:
some_list=[1,2,3,4]
some_list[5]

IndexError: list index out of range

In [123]:
a = "defined"
print(x)

NameError: name 'x' is not defined

In [124]:
def func1():
a=1
print(a)

IndentationError: expected an indented block (<ipython-input-124-d9c5f3e7dc3e>, line 2)

# Blocks for Error or Exception Handling

In [ ]:
try: 
    #run the code
except:
    #executes the code when we there is an exception 
else: 
    #executes the code when thre is NO exception
finally: 
    #executes the code the code always

In [127]:
try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

In [128]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [129]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [131]:
#run the code
f = open("Cars.csv", "r")
print(f.read())

HP,MPG,VOL,SP,WT
49,53.70068138,89,104.1853528,28.7620589
55,50.01340115,92,105.4612635,30.46683298
55,50.01340115,92,105.4612635,30.19359657
70,45.69632238,92,113.4612635,30.63211391
53,50.50423183,92,104.4612635,29.88914864
70,45.69632238,89,113.1853528,29.59176832
55,50.01340115,92,105.4612635,30.30847957
62,46.71655428,50,102.5985128,15.84775807
62,46.71655428,50,102.5985128,16.35948352
80,42.29907817,94,115.6452041,30.92015417
73,44.65283424,89,111.1853528,29.36334142
92,39.3540941,50,117.5985128,15.75353468

In [133]:
#Example



try: 
    #run the code
    f = open("Cars.csv", "r")
    print(f.read())

except:
    #executes the code when there is an exception
    print("There is not file by this name")
else: 
    #executes the code when thre is NO exception
    print("There is a file by this name")
finally: 
    f.close()
    #executes the code the code always
    print("This runs always in the Finllay")

HP,MPG,VOL,SP,WT
49,53.70068138,89,104.1853528,28.7620589
55,50.01340115,92,105.4612635,30.46683298
55,50.01340115,92,105.4612635,30.19359657
70,45.69632238,92,113.4612635,30.63211391
53,50.50423183,92,104.4612635,29.88914864
70,45.69632238,89,113.1853528,29.59176832
55,50.01340115,92,105.4612635,30.30847957
62,46.71655428,50,102.5985128,15.84775807
62,46.71655428,50,102.5985128,16.35948352
80,42.29907817,94,115.6452041,30.92015417
73,44.65283424,89,111.1853528,29.36334142
92,39.3540941,50,117.5985128,15.75353468

There is a file by this name
This runs always in the Finllay

another example

In [134]:


try: 
    #run the code
    f = open("Cars1.csv", "r")
    print(f.read())

except:
    #executes the code when there is an exception
    print("There is not file by this name")
else: 
    #executes the code when thre is NO exception
    print("There is a file by this name")
finally: 
    f.close()
    #executes the code the code always
    print("This runs always in the Finllay")

There is not file by this name
This runs always in the Finllay

In [135]:
a=100/0

ZeroDivisionError: division by zero

In [137]:
try: 
    #run the code
    #f = open("Cars1.csv", "r")
    #print(f.read())
    a=100/0
    #print(t)

except FileNotFoundError as e:
    #executes the code when there is an exception
       print(e)
    
except ZeroDivisionError:
    #executes the code when there is an exception
      print("ZeroDivisionError")

except SyntaxError:
    #executes the code when there is an exception
      print("This is a Syntax Error")



#else: 
    #executes the code when thre is NO exception
    #print("There is a file by this name")
#finally: 
#    f.close()
    #executes the code the code always
    #print("This runs always in the Finllay")

ZeroDivisionError

In [138]:
try: 
    #run the code
    f = open("Cars1.csv", "r")
    print(f.read())

except FileNotFoundError:
    #executes the code when there is an exception
       print(FileNotFoundError)



#else: 
    #executes the code when thre is NO exception
    #print("There is a file by this name")
#finally: 
#    f.close()
    #executes the code the code always
    #print("This runs always in the Finllay")

<class 'FileNotFoundError'>

# Generic Approach for errors

In [140]:
try: 
    #run the code
    #a=100/0
    f = open("Cars.csv", "r")
    print(f.read())
    
except FileNotFoundError as e:
    #executes the code when there is an exception
       print("Error occured:",e)
except ZeroDivisionError as e:
    #executes the code when there is an exception
       print("Error occured:",e)
        
except Exception as e:
    #executes the code when there is an exception
      print("Error occured:",e)
    
else: 
    #executes the code when thre is NO exception
    print("There is a file by this name-else")
finally: 
    f.close()
    #executes the code the code always
    print("This runs always in the Finllay")

HP,MPG,VOL,SP,WT
49,53.70068138,89,104.1853528,28.7620589
55,50.01340115,92,105.4612635,30.46683298
55,50.01340115,92,105.4612635,30.19359657
70,45.69632238,92,113.4612635,30.63211391
53,50.50423183,92,104.4612635,29.88914864
70,45.69632238,89,113.1853528,29.59176832
55,50.01340115,92,105.4612635,30.30847957
62,46.71655428,50,102.5985128,15.84775807
62,46.71655428,50,102.5985128,16.35948352
80,42.29907817,94,115.6452041,30.92015417
73,44.65283424,89,111.1853528,29.36334142
92,39.3540941,50,117.5985128,15.75353468

There is a file by this name-else
This runs always in the Finllay

# using the Key word Raise

In [141]:
try:
    even = int(input('Please enter an even number:'))
    if even % 2 != 0:
        print('a')
        raise ValueError("Error: You did not provide an even number")
except Exception as e:
    print(e)

except ValueError as e:
    print(e)

Please enter an even number:5
a
Error: You did not provide an even number

# End of Basics of Python and Python Constructs