In [ ]:
a =10

In [ ]:
print(a)

In [ ]:
brand = 'Priyanka1'

In [ ]:
print(brand)

In [ ]:
a=b=c=10
print(a)

In [ ]:
x,y,z=10,20,50
print(z)

In [ ]:
name1='John'
name2='James'
print(name1)
print(name2)
text1='hello\
World'
print(text1)
multiline='''st1
...st2
....st3
'''
print(multiline)

In [ ]:
1+2

In [ ]:
1-2

In [ ]:
2%1

In [ ]:
2/1

In [ ]:
a=10
b=20
b>a

In [ ]:
a != b

In [ ]:
a=10<10 or 2 >-1
print(a)

In [ ]:
abc=10
abc*=100
print(abc)

In [ ]:
pets = ['dog','cat','wolf']
print(pets)

'cha' in pets

In [ ]:
a =10

In [ ]:
a ='saket'

In [ ]:
message = 'hello word'
print(message)
print(type(message))

In [ ]:
message=1234.8
print(message)
print(type(message))

In [ ]:
var = 'helloworld'
print(var)
print(type(var))
print(var[0])
print(var[1:6])

In [ ]:
str='Attachment'
str.find('me')

In [ ]:
str.replace('me','xy')

In [ ]:
str1='word1,word2,word3'
str1.split(',')

In [ ]:
myGroup =('a','b','c','d')

In [ ]:
print(myGroup)

In [ ]:
#concatenation
myGroup  += ('f',)

In [ ]:
print(myGroup)

In [ ]:
myGroup *2

In [ ]:
myGroup[2]

In [ ]:
myGroup[2:5]

In [ ]:
#list

myList=['a','b',10,7.12,'data']
print(myList)

In [ ]:
myList *2

In [ ]:
myList[1:3]

In [ ]:
myList.append('d')
myList

In [ ]:
myList.extend(['c','d'])
myList

In [ ]:
myDict ={1:'John', 2:'Bob',3:'Alice' }
myDict

In [ ]:
type(myDict)

In [ ]:
myDict2 ={}
myDict2

In [ ]:
myDict = {'name':'John', 1:[2,3,4]}
myDict

In [ ]:
myDict = {'name':'John', 1:[2,3,4],2:[2,3,4]}
myDict

In [ ]:
myDict[1]

In [ ]:
len(myDict)

In [ ]:
myDict.keys()

In [ ]:
myDict.values()

In [ ]:
mySet ={1,2,3}
print(mySet)

In [ ]:
mySet1= {1,2,'c'}
mySet2={1,'b','c'}
mySet1|mySet2

In [ ]:
type(mySet1)

In [ ]:
mySet1.union(mySet2)

In [ ]:
mySet1.intersection(mySet2)

In [ ]:
mySet2.difference(mySet1)

In [ ]:
f = open("Cars.csv","r")
print(f.read())

In [ ]:
f = open("Cars.csv","r")
print(f.readline())
print(f.readline())

In [ ]:
f = open("Cars.csv","r")
for x in f:
    print(x)

In [ ]:
f = open("demofile.txt","a")
f.write("Now the file has a new line from Christoper")

In [ ]:
#if else:
a =5
if a==5:
    print("True-a is 5")
    print("Rohan is a Data Analyst")
else:
    print("True- a is 4")
    
print("Sai is a Data Scientist")

In [ ]:
print(z)

In [ ]:
#for loop
n =25
#start-(end-1)-increment/decrement
for i in range (-6,0,1):
    print(i)
print('DDD')

In [ ]:
n =2
i=1
while (i <=n):
    if (i==3):
        print(i)
        print("expression is less than 5")
     
    else:
        print("this is else expression")
    
    print(i)
    i=i+1
   
        
   
print("Good Bye")

In [7]:
def classify_on_age(age):
    classification =''
    if age <13:
        classification ='Hello Kid'
    elif age >=13 and age <20:
        classification = 'Hello Teenager'
    elif age >=20 and age <=25:
        classification ='Hello Adult'
    else :
        classification ='Hello Professional'
    return  classification 


output = classify_on_age(26)
print(output)

Hello Professional

In [8]:
def fun3(a,b,c=10):
    
    print(a,b,c)

In [17]:
fun3(40,50,30,20)

TypeError: fun3() takes from 2 to 3 positional arguments but 4 were given

In [14]:
def fun4(*args):
    print(type(args),args)

In [15]:
fun4(10,'python',30,40,50,60,70)

<class 'tuple'> (10, 'python', 30, 40, 50, 60, 70)

In [18]:
def fun5(**keyaw):
    print(type(keyaw),keyaw)

In [19]:
fun5 (a=10,b='Python',age=50)

<class 'dict'> {'a': 10, 'b': 'Python', 'age': 50}

In [26]:
def func6 (a,b,c=10,*args,**keyaw):
    print(a,b,c)
    print(args)
    print(type(args),args)
    print(type(keyaw),keyaw)
    
    
func6(10,20,30,40,50,60,name='dari',age=28,business='soft')

10 20 30
(40, 50, 60)
<class 'tuple'> (40, 50, 60)
<class 'dict'> {'name': 'dari', 'age': 28, 'business': 'soft'}

In [34]:
def func(a):
    return a+10 if a>10 else a*20



print(func(9))

180

In [42]:
abcd = lambda a:a*10 if a>10  else a*20

In [43]:
abcd(9)

180

In [44]:
def squareit(x,y):
    return x*y

print(squareit(10,20))

200

In [45]:
squareit2 = lambda x,y:x*y
print(squareit2(10,20))

200