# Python-Getting Started

Slide 9: Assigning single value to a variable…

In [ ]:
a = 10
name = 'Victor'
salary = 2000.23
print (a)
print (name)
print (salary)

In [ ]:
# Python code t get difference of two lists 


# compare Code 
li1 = [2,4,5,6,6,7]
li2 = [23,5,6,3,6,7] 
print(Diff(li1, li2))

In [ ]:
a = 10
name = 'Victor'
salary = 2000.23
print (a)
print (name)
print (salary)

Slide 10 : Assigning multiple value to a variable…

In [ ]:
a=b=c=10
x,y,z=10,20,30
print(y)
print(a)

In [ ]:
#will throw an error
x,y,z=10,20

Slide 14:String Literals

In [ ]:
name1="John"
name2='James'
print(name1)
print(name2)
text1='hello\
World'
text1
print(text1)
multiline='''st1
...st2
...st3'''
print(multiline)

Slide 17: Special Literals: None
Works like a null value, or empty value

In [ ]:
val1 = 10
val2 = None
val1,val2
print(val2)

> # Operators

Slide : 19 Arithmetic Operator
+, -, *, /, %

In [ ]:
1+2

In [ ]:
1-2

In [ ]:
2%1

Slide : 20 Assignment Operator =,+=, -=, *=

In [ ]:
a=10 
a*=10 #a=10*10
print(a)

Slide 21: Comparison Operator <, >, <=, >=, !=

In [ ]:
a = 10
b = 20 
a > b

In [ ]:
Slide 21: Comparison Operator <, >, <=, >=, !=

In [ ]:
a = 10
b = 20 
a != b

 Slide 21: More  Operators =, +=, -=, *=

In [ ]:
a = 10
a*=10#a=10*10
print(a)

Logical Operator: and, or , not

In [ ]:
a=10<10 and 2>-1
print(a)

Bitwise Operator &,|,>>,<<,~

In [ ]:
7 | 5

In [ ]:
7 & 5

Identity Operator is, is not

In [ ]:
x = 10
x is 10

In [ ]:
x = 10
x is not 10

Membership Operator in, not in

In [ ]:
pets=['dog','cat','wolf']
'lion' in pets
'wolf' in pets
'me' in 'appointment'

# Datatypes in Python

> # Number

In [ ]:
message = "Hello World"
num = 1234
pi = 13.6
print(type(message)) #return a string
print(type(num)) #return an integer
print(type(pi)) #return a float

> # Strings

In [ ]:
var1 = 'Hello-World!'
var2 = 'PythonTutorial'

print(var1[0]) # prints the first character in the string `H`
print(var2[1:5]) # prints the substring 'ytho'

find()

In [ ]:
#find() – Returns the position of the string
str='Attachment'
str.find('Me')

replace()

In [ ]:
#replace() – Replaces one character/string with other
str='Replacement'
str.replace('ed','e')

split()

In [ ]:
#split() – Creates a split on the basis of a character
str='word1,word2,word3'
str.split(',')

# Difference between list and Tuples

In [ ]:
https://www.afternerd.com/blog/difference-between-list-tuple/

> # Tuples

The pair is an example of a tuple. Generalizing this, a tuple can be used to group any number of items into a single compound value. Syntactically, a tuple is a comma-separated sequence of values. Although it is not necessary, it is conventional to enclose tuples in parentheses:

In [ ]:
myGroup = ('a', 'b', 'c', 'd','1')
print(myGroup)

concatenation

In [ ]:
#Concatenation - Adds two string/character
myGroup += ('f',)
print(myGroup)

repetation

In [ ]:
#Repetition -  Duplicate string/character by given number of times
myGroup * 2

indexing

In [ ]:
#Indexing - Shows the indexed character/string
myGroup = ('a', 'b', 'c', 'd', 'f')
myGroup[2]

slicing

In [ ]:
#Slicing – Shows a specific set of indexed character/string
myGroup = ('a', 'b', 'c', 'd', 'f')
myGroup[1:4]

> # List

In [ ]:
myGroup = ('a', 10, 7.12, 'data')

concatenation

In [ ]:
#Concatenation – Add elements to the list
myList = ['a', 1, 3.14, 'python']
myList+=['d',]
print(myList)

repetation

In [ ]:
#Repetition
myList = ['a', 1, 3.14, 'python']
myList*2

slicing

In [ ]:
#Slicing
myList = ['a', 1, 3.14, 'python']
myList = myList[0:4]
myList

append

In [ ]:
#append(value)
myList = ['a', 1, 3.14, 'python']
myList.append('d')
myList

extend

In [ ]:
#extend(list)
myList = ['a', 1, 3.14, 'python']
myList.extend (['c', 'd']) 
myList

insert

In [ ]:
#insert(index, value)
myList = ['a', 1, 3.14, 'python']
myList.insert(2, 'd')
myList

> # Dictionary

Example

In [ ]:
myDict = { 1: 'John' , 2: 'Bob', 3: 'Alice' }

In [ ]:
print(myDict)

Empty dictionary

In [ ]:
#empty dictionary 
myDict = {}

In [ ]:
print(myDict)

Integer keys

In [ ]:
#dictionary with integer keys
myDict = {1: 'apple', 2: 'ball'}

In [ ]:
print(myDict)

mixed keys

In [ ]:
#dictionary with mixed keys
myDict2 = {'name': 'John', 1: [2, 4, 3]}

In [ ]:
print(myDict2)

In [ ]:
#paring
#from sequence having each item as a pair
myDict3 = dict([(1,'apple'), (2,'ball')])

In [ ]:
print(myDict3)

In [ ]:
#accessing dictionary
myDict4 = {1: 'word1', 2: 'word2',3: 'word3',4: 'word4',5: 'word5'}
myDict4[2]

In [ ]:
#len()
#myDict = {1: 'word1', 2: 'word2'}
len(myDict)

In [ ]:
#key()
myDict = {1:'apple', 2:'ball'}
print(len(myDict))
print(myDict.keys())

In [ ]:
#values()
myDict = {1: 'apple', 2: 'ball'}
myDict.values()
['apple', 'ball']

# Removing Items in Dictionary

In [ ]:
print(myDict3)
myDict3.pop(1)
print(myDict3)

In [ ]:
print(myDict4)
myDict4.popitem()
print(myDict4)

> # Sets

in sets there will be no duplicates. values will not repeat

# Example

creating a set

In [ ]:
set1 = set()
print(set1)

In [ ]:
# Creating a Set of String   
set2 = set("GeeksForGeeks")  
print(set2)

In [ ]:
# Creating a Set of List   
set3 = set(["Geeks", "For", "Geeks"]) 
print(set3)

Adding elements: Using add() and update()

In [ ]:

# Addition of elements in a Set   

  
set4 = set() 
      
# Adding to the Set using add()  
set4.add(8) 
set4.add((6, 7)) 
print(set4)

# set-update

Python Set update() method example
In the following example we have two Sets of numbers X & Y and we are calling X.update(Y) to add the elements of set Y to the Set X.
The update() method updates the current set, by adding items from another set.

If an item is present in both sets, only one appearance of this item will be present in the updated set.

In [ ]:

# Set X
X = {1, 2, 3}

# Set Y
Y = {2, 3, 4}

# Displaying X & Y before update()
print("X is:",X)
print("Y is:",Y)

# Calling update() method
X.update(Y)

# Displaying X & Y after update()
print("X is:",X)
print("Y is:",Y)

Set update() method example with List, Tuple, String, Dictionary
In the following example we are adding the elements of a list, tuple, string & dictionary to the calling set X using the update() method.

In [ ]:

# Set X
X = {1, 2, 3}

# List lis
lis = [3, 5]

# tuple
t = (77, 99)

# String
s = "abc"

# Dictionary dict
dict = {"one": 1, "two": 2}

# Calling update() method
X.update(lis, t, s, dict)

# Displaying X after update()
print("X is:",X)

# Set - New Examples

In [ ]:
mySet = {1, 2, 3}

In [ ]:
#Creating set with duplicate values 
mySet = {1, 2, 3, 3}
print (mySet)

In Union the duplicates will occur only once

In [ ]:
#Union of set
mySet1 = {1, 2, 'c'}
mySet2 = {1, 'b', 'c'}
mySet1|mySet2

In [ ]:
type(mySet1)

In [ ]:
mySet1.union(mySet2)

in Intersection only the Common Items will occur

In [ ]:
mySet1.intersection(mySet2)

In [ ]:
mySet1.difference(mySet2)

# How to input data in Jupyter

In [12]:
value= input("enter a string")

print('this is the new value:{}' .format(value))

enter a stringhello
this is the new value:hello

In [ ]:
# File Handling in Python

In [15]:
file = open('mobily.txt','r')
for each in file:
    print(each)
    
file.close()

This is new line1

This is new line2

In [17]:
file = open('mobily.txt','r')
print(file.read())

file.close()

This is new line1
This is new line2

In [19]:
file = open('mobily.txt','r')
print(file.read(20))
file.close()

This is new line1
Th

In [20]:
file = open("mobily.txt","w")
file.write("This is new line1")
file.write("This is new line2")

file.close()

In [23]:
file = open("mobily.txt","w")

file.write("This is new line12\n")
file.write("This is new line2\n")
file.write("This is new line24\n")
file.write("This is new line25\n")
file.close()

In [22]:
file = open("testfile.txt","w") 
 
file.write("Hello World") 
file.write("This is our new text file") 
file.write("and this is another line.") 
file.write("Why? Because we can.") 
 
file.close()

In [ ]:
file = open('mobily.txt','a')
file.write("\n this will add new line with append")

file.close()

In [ ]:
with open ("mobily3.txt", "a") as f:
    f.write("hello write!!2")
    f.close()

In [ ]:
with open ("mobily3.txt", "r") as file:
    data = file.readlines()
    for line in data:
        word = line.split()
        print(word)

# Reading from  a File

In [ ]:
#file1 = open(r"C:\Users\arunk\Downloads\Intelli\IntelliDataSciencePython\PythonDataScience\1PythonTrainingToUSe\Module1_GettingStarted_With_python\CodeFiles\mobily.txt", "r")

In [ ]:
#file2 = open(r"C:\Users\arunk\Downloads\Intelli\IntelliDataSciencePython\PythonDataScience\1PythonTrainingToUSe\Module1_GettingStarted_With_python\CodeFiles\mobily2.txt", "r+")

In [ ]:
file1 = open("myfile.txt", "w")
L=["1This is Delhi \n", "Live in Paris\n", "Dance in  London\n"]
str= "This is Delhi  This is Paris This is London"
str.strip()
#write to file
file1.write("Hello\n")
file1.writelines(L)
file1.writelines(str)
file1.close()

In [ ]:
#output the files
file1 = open("myfile.txt", "r+")
print("Output of the read function")
print(file1.read())
#print()

file1.seek(0)
print("Output")
#print(file1.read(35))
print(file1.readline(35))
print()


        
file1.close()

In [ ]:
with open ("myfile.txt", "r") as file:
    data = file.read(2)
    for line in data:
        word = line.split()
        print(word)
        
file.close()

In [ ]:
with open ("myfile.txt", "r") as file:
    data = file.readlines()
    for line in data:
        word = line.split()
        print(word)
        
file.close()

# File Handling

# Read CSV using Python - Pandas

In [ ]:
#File Handling in Jupyter using Pandas
#import pandas as pd
import pandas

#df1 = pd.read_csv("C:/Users/HP/Downloads/Intelli/IntelliDataSciencePython/PythonDataScience/1PythonTrainingToUSe/Module1_GettingStarted_With_python/CodeFiles/Cars.csv")
#df1 = pd.read_csv("C:/Users/arunk/Downloads/Intelli/IntelliDataSciencePython/PythonDataScience/1PythonTrainingToUSe/Module1_GettingStarted_With_python/CodeFiles/Cars.csv")

df2 = pd.read_csv("C:\\Users\\arunk\\Downloads\\Intelli\\IntelliDataSciencePython\\PythonDataScience\\1PythonTrainingToUSe\\Module1_GettingStarted_With_python\\CodeFiles\\Cars.csv")

#C:\\Users\\arunk\\Downloads\\Intelli\\IntelliDataSciencePython\\PythonDataScience\\1PythonTrainingToUSe\\Module1_GettingStarted_With_python\\CodeFiles
    
#print(df1)
print(df2)

# Read CSV using Python

In [ ]:
#Example
#f = open("demofile.txt", "r")
f = open("Cars.csv", "r")
print(f.read())

In [ ]:
#Reading parts of file
#f = open("demofile.txt", "r")
f = open("Cars.csv", "r")
print(f.read(5)) #Return the 5 first characters of the file

In [ ]:
#Reading first line
#f = open("demofile.txt", "r")
f = open("Cars.csv", "r")
print(f.readline()) #readline() is used to return one line

In [ ]:
#using readline() twice prints first two line
#f = open("demofile.txt", "r")
f = open("Cars.csv", "r")
print(f.readline()) 
print(f.readline()) # using readline() twice prints first two line

In [ ]:
#Loop through the file
#Read the file line by line
#f = open("demofile.txt", "r")
f = open("Cars.csv", "r")
for x in f:
  print(x)

# Write/Create

In [ ]:
#Example: Append
f = open("demofile.txt", "a")
f.write("Now the file has one more line!")

In [ ]:
#Example: Overwrite
f = open("demofile.txt", "w")
f.write("Woops! I have deleted the content!")

In [ ]:
# Create a new file. If file exists it will give an error
f = open("myfile1.txt", "x")

# Delete

In [ ]:
# Deleting the file
import os
os.remove("demofile.txt")

# Mutable vs Immutable

# Underscore

what is the meaning of various types of underscore usage like 
1. _abc

single underscore _abc<br>
it can be used <br>
-Before a name<br>
As per coding conventions it is to give a hint that _abc is to be used for internal purposes. it does not impact the code<br>

-After a name<br>
if you want to use a key word class, then say class_<br>

2.
_abc_
 _abc_ (_abc_ is removed by the interpreter and prints only abc)


#3. 

__abc 
(defines the variable as private)

*#* (__underscore__) are removed __abc__

#this is for python keywords like __INIT__
#if we use it as __abc__

# 3. __abc (defines the variable as private)

In [ ]:
class Myclass(): 
    def __init__(self): 
        self.__variable = 10
        self.variablepublic=20
    ##here the variable is made as private
    def func(self):
        print( self.__variable )

In [ ]:

obj = Myclass() 
#obj.__variable
#obj.__variable cannot be accessed
print(obj.variablepublic)
obj.func()