# Python-Getting Started

Slide 9: Assigning single value to a variable…

In [ ]:
a = 10
name = 'Victor'
salary = 2000.23
print (a)
print (name)
print (salary)

In [ ]:
# Python code t get difference of two lists 


# compare Code 
li1 = [2,4,5,6,6,7]
li2 = [23,5,6,3,6,7] 
print(Diff(li1, li2))

In [ ]:
a = 10
name = 'Victor'
salary = 2000.23
print (a)
print (name)
print (salary)

Slide 10 : Assigning multiple value to a variable…

In [2]:
a=b=c=10
x,y,z=10,20,30


print(a)
print(b)
print(y)

10
10
20

In [3]:
#will throw an error
x,y,z=10,20

ValueError: not enough values to unpack (expected 3, got 2)

Slide 14:String Literals, double quotes and single quotes

In [4]:
name1="John"
name2='James'
print(name1)
print(name2)

John
James

triple quotes

In [6]:
multiline='''st1
st2
st3

line4'''
print(multiline)

st1
st2
st3

line4

In [12]:



text1='hello\
World'

print(text1)

helloWorld

Slide 17: Special Literals: None
Works like a null value, or empty value

In [13]:
val1 = 10
val2 = None
val1,val2
print(val1)
print(val2)

10
None

> # Operators

Slide : 19 Arithmetic Operator
+, -, *, /, %

In [14]:
1+2

3

In [15]:
1-2

-1

In [18]:
2%1

0

Slide : 20 Assignment Operator =,+=, -=, *=

In [19]:
#a=10
#a=10*10
a*=10 #a=10*10
print(a)

100

Slide 21: Comparison Operator <, >, <=, >=, !=

In [20]:
a = 10
b = 20 
a > b
#b > a

False

Slide 21: Comparison Operator <, >, <=, >=, !=

In [22]:
a = 10
b = 20 
a != b

True

 Slide 21: More  Operators =, +=, -=, *=

In [23]:
a = 10
a*=10#a=10*10
print(a)

100

Logical Operator: and, or , not

In [24]:
a=10<10 and 2>-1
b=10<10 or 2>-1

print(a)
print(b)

False
True

In [25]:
x = 10
x is 10
y=11
y is 10

False

In [1]:
x = 10
x is not 10
y= 11
y is not 10

<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-1-181b34b9d5af>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  x is not 10
<ipython-input-1-181b34b9d5af>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  y is not 10

True

Membership Operator in, not in

In [30]:
pets=['dog','cat','wolf']
print(pets)
#'lion' in pets
#'wolf' in pets
'me' in 'appointment'

['dog', 'cat', 'wolf']

True

# Datatypes in Python

> # Number : int, float

In [32]:
message = "Hello World"
num = 1234

pi = 13.6
print(message)
print(type(message)) #return a string
print(type(num)) #return an integer
print(type(pi)) #return a float

Hello World
<class 'str'>
<class 'int'>
<class 'float'>

> # Strings

In [33]:
var1 = 'Hello-World!'
var2 = 'PythonTutorial'

print(var1[0]) # prints the first character in the string `H`
print(var2[0:14]) # prints the substring 'ytho'

H
PythonTutorial

find()

In [35]:
#find() – Returns the position of the string
str='Attachment'
str.find('a')

3

replace()

In [36]:
#replace() – Replaces one character/string with other
str='Replacement'
str.replace('ce','e')

'Replaement'

split()

In [37]:
#split() – Creates a split on the basis of a character
str='word1,word2,word3'
print(str)
str.split(',')

word1,word2,word3

['word1', 'word2', 'word3']

> # Tuples

In [40]:
myGroup = ('a', 'b', 'c', 'd')
print(myGroup)

('a', 'b', 'c', 'd')

concatenation

In [41]:
#Concatenation - Adds two string/character
myGroup += ('f',)
print(myGroup)

('a', 'b', 'c', 'd', 'f')

repetation

In [42]:
#Repetition -  Duplicate string/character by given number of times
myGroup * 2

('a', 'b', 'c', 'd', 'f', 'a', 'b', 'c', 'd', 'f')

indexing

In [43]:
#Indexing - Shows the indexed character/string
myGroup = ('a', 'b', 'c', 'd', 'f')
myGroup[2]

'c'

slicing

In [50]:
#Slicing – Shows a specific set of indexed character/string
myGroup = ('a', 'b', 'c', 'd', 'f')
myGroup[1:4]
a =myGroup.index('d')
print(a)

3

> # List

In [97]:
myList= [1, 10, 2, 3]
print(myList)

[1, 10, 2, 3]

In [53]:
myGroup = ['a', 10, 7.12, 'data']

In [54]:
print(myGroup)

['a', 10, 7.12, 'data']

concatenation

In [55]:
#Concatenation – Add elements to the list
myList = ['a', 1, 3.14, 'python']
myList+=['d',]
print(myList)

['a', 1, 3.14, 'python', 'd']

repetation

In [56]:
#Repetition
myList = ['a', 1, 3.14, 'python']
myList*2

['a', 1, 3.14, 'python', 'a', 1, 3.14, 'python']

slicing

In [61]:
#Slicing
myList = ['a', 1, 3.14, 'python']
myList = myList[0:3]
myList
print(type(myList))
#print(type(myList.index(0))
print(type(myList[0]))
print(type(myList[1]))

<class 'list'>
<class 'str'>
<class 'int'>

append

In [ ]:
#append(value)
myList = ['a', 1, 3.14, 'python']
myList.append('d')
myList

extend

In [ ]:
#extend(list)
myList = ['a', 1, 3.14, 'python']
myList.extend (['c', 'd']) 
myList.

In [63]:
#str="hello"
#a =10
#str1 = str+a
#print(str1)

insert

In [64]:
#insert(index, value)
myList = ['a', 1, 3.14, 'python']
myList.insert(2, 'd')
myList

['a', 1, 'd', 3.14, 'python']

> # Dictionary

Example

In [65]:
myDict = { 1: 'John' , 2: 'Bob', 3: 'Alice' }
print(myDict)

{1: 'John', 2: 'Bob', 3: 'Alice'}

Empty dictionary

In [66]:
#empty dictionary 
myDict = {}
print(myDict)

{}

Integer keys

In [68]:
#dictionary with integer keys
myDict = {1: 'apple', 2: 'ball'}
myDict[1]

'apple'

In [69]:
#dictionary with mixed keys
myDict = {'name': 'John', 1: [2, 4, 3]}
myDict

{'name': 'John', 1: [2, 4, 3]}

mixed keys

In [70]:
#dictionary with mixed keys
myDict = {'name': 'John', 1: [2, 4, 3]}

In [72]:
#paring
#from sequence having each item as a pair
myDict = dict([(1,'apple'), (2,'ball')])
print(myDict)

{1: 'apple', 2: 'ball'}

In [73]:
#accessing dictionary
myDict = {1: 'word1', 2: 'word2'}
myDict[2]

'word2'

In [75]:
#len()
myDict = {1: 'word1', 2: 'word2'}
len(myDict)

2

In [76]:
#key()
myDict = {1:'apple', 2:'ball'}
len(myDict)
myDict.keys()

dict_keys([1, 2])

In [77]:
#values()
myDict = {1: 'apple', 2: 'ball'}
myDict.values()

myDict.

dict_values(['apple', 'ball'])

> # Sets

# Example

In [ ]:
#mySet = {1, 2, 3}

In [78]:
#Creating set with duplicate values 
mySet = {1, 2, 3, 3}
print (mySet)

{1, 2, 3}

In [79]:
#Union of set
mySet1 = {1, 2, 'c'}
mySet2 = {1, 'b', 'c'}
mySet1|mySet2

{1, 2, 'b', 'c'}

In [80]:
type(mySet1)

set

In [81]:
mySet1.union(mySet2)

{1, 2, 'b', 'c'}

In [82]:
mySet1.intersection(mySet2)

{1, 'c'}

In [84]:
mySet1 = {1, 2, 'c','e'}
mySet2 = {1, 'b', 'c',}

#mySet1.difference(mySet2)
mySet2.difference(mySet1)

{'b'}

# File Handling

In [ ]:
#File Handling in Jupyter using Pandas
import pandas as pd
#df1 = pd.read_csv("C:/PythonHow/income_data.csv")
df1 = pd.read_csv("C:/Users/HP/Downloads/Intelli/PythonDataScience/PythonNewConentGdrive/PythonNewcontent/Python_New_content/Module1_GettingStarted_With_python/CodeFiles/Cars.csv")
print(df1)

# Read

In [87]:
#Example
f = open("demofile.txt", "r")
#f = open("Cars.csv", "r")
print(f.read())
f.close()

This is HP Data Science Team

In [90]:
#Reading parts of file
#f = open("demofile.txt", "r")
f = open("Cars.csv", "r")
print(f.read(5)) #Return the 5 first characters of the file

HP,MP

In [92]:
#Reading first line
f = open("demofile.txt", "r")
#f = open("Cars.csv", "r")
print(f.readline()) #readline() is used to return one line

This1 is HP Data Science Team

In [93]:
#Reading first line
#f = open("demofile.txt", "r")
f = open("Cars.csv", "r")
print(f.readline()) 
print(f.readline()) # using readline() twice prints first two line

HP,MPG,VOL,SP,WT

49,53.70068138,89,104.1853528,28.7620589

In [94]:
#Loop through the file
#Read the file line by line
f = open("demofile.txt", "r")
#f = open("Cars.csv", "r")
for x in f:
  print(x)

This1 is HP Data Science Team

This2 is HP Data Science Team

This3 is HP Data Science Team

This4 is HP Data Science Team

# Write/Create

In [96]:
#Example: Append
f = open("demofile.txt", "a")
f.write("Now the file has one more line!")

31

In [ ]:
#Example: Overwrite
f = open("demofile.txt", "w")
f.write("Woops! I have deleted the content!")

In [ ]:
# Create a new file. If file exists it will give an error
f = open("myfile1.txt", "x")

# Delete

In [2]:
# Deleting the file
import os
#os.remove("test1.txt")

In [ ]:
os.