# 22SepGetting Started with Python

In [ ]:
a= '123hello'
print(type(a))

# Tupule - ()

In [1]:

myGroup = ('my gr','b','c','d','e','f')

print(myGroup)
#list1 = ('a','b','c','d','e','f')
#print(list1)

('my gr', 'b', 'c', 'd', 'e', 'f')

In [2]:
print(myGroup.index('b'))
#print(myGroup.count())

1

In [3]:
print(type(myGroup))

<class 'tuple'>

In [4]:
myGroup2 =('a',1,'c','d')

In [7]:
print(myGroup2)

('a', 1, 'c', 'd')

repetition of data

In [8]:
myGroup*2

('my gr', 'b', 'c', 'd', 'e', 'f', 'my gr', 'b', 'c', 'd', 'e', 'f')

In [9]:
myGroup[2]

'c'

In [11]:
myGroup[0:5]

('my gr', 'b', 'c', 'd', 'e')

In [12]:
print(myGroup)

('my gr', 'b', 'c', 'd', 'e', 'f')

Empty Tupule

In [13]:
myGroup3= ()

In [14]:
print(myGroup3)

()

single value Tupule

In [15]:
myGroup4=('a')

In [16]:
print(myGroup4)

a

# Tupule are IMMUTABLE - you cannot change values

In [17]:
tup1 = (12,3.56)
tup2= ('abc','xyz')

In [18]:
print(tup1)
print(tup2)

(12, 3.56)
('abc', 'xyz')

In [19]:
tup1[0]=10

TypeError: 'tuple' object does not support item assignment

create new tupule

concatenation of 2 tupules by  creating a 3rd new tupule

In [33]:
tup3=tup1+tup2

In [34]:
print(tup3)

(12, 3.56, 'abc', 'xyz')

immutable data types - int, string, floats,  tupules,

In [35]:
tup4=tup1+tup2+tup3

In [38]:
#tup

In [39]:
del tup4

NameError: name 'tup4' is not defined

In [40]:
print(tup4)

NameError: name 'tup4' is not defined

In [31]:
len(tup3)

4

In [32]:
print(type(tup3))

<class 'tuple'>

# LIST - []

In [41]:
myList =['a',1,3.14, 'python']

In [42]:
print(myList)

['a', 1, 3.14, 'python']

In [43]:
print(type(myList))

<class 'list'>

In [44]:
myList *2

['a', 1, 3.14, 'python', 'a', 1, 3.14, 'python']

slicing/indexing the data

In [45]:
myList[0]

'a'

In [46]:
myList[0:3]

['a', 1, 3.14]

# List are MUTABLE-you can change values

Append

In [47]:
myList.append('d')

In [49]:
print(myList)

['a', 1, 3.14, 'python', 'd']

insert in a specific index

In [50]:
myList.insert(2,'new value2')

In [51]:
print(myList)

['a', 1, 'new value2', 3.14, 'python', 'd']

In [52]:
myList [1]=2

In [53]:
print(myList)

['a', 2, 'new value2', 3.14, 'python', 'd']

In [54]:
myList [1]='new Value3'

In [55]:
print(myList)

['a', 'new Value3', 'new value2', 3.14, 'python', 'd']

In [56]:
#del myList
#myList will be lost and removed from the memory

In [57]:
myGroup3= myList

In [58]:
print(myGroup3)

['a', 'new Value3', 'new value2', 3.14, 'python', 'd']

In [59]:
print(type(myGroup3))

<class 'list'>

In [60]:
myList.insert(2,myGroup)

In [62]:
print(myList)

['a', 'new Value3', ('my gr', 'b', 'c', 'd', 'e', 'f'), 'new value2', 3.14, 'python', 'd']

# Dictionary- {}, - Key and Values

In [63]:
myDictionary = {1:'John', 2:'Bob', 3:'Alice'}

In [66]:
#myDictionary.keys()
myDictionary.values()

dict_values(['John', 'Bob', 'Alice'])

In [67]:
print(myDictionary)

{1: 'John', 2: 'Bob', 3: 'Alice'}

In [68]:
print(myDictionary[3])

Alice

In [69]:
myDictionary2 = {'name1':'John', 'name2':'Bob', 'name3':'Alice'}

In [70]:
print(myDictionary2)

{'name1': 'John', 'name2': 'Bob', 'name3': 'Alice'}

In [71]:
print(myDictionary2['name1'])

John

In [72]:
myDictionary3 = {'name1':'John', 1:[1,2,3,4], 'name2':'Alice',2:[1,2,3,4]}

In [73]:
print(myDictionary3[1])

[1, 2, 3, 4]

In [74]:
print(myDictionary3['name1'])

John

In [75]:
myDictionary3.keys()

dict_keys(['name1', 1, 'name2', 2])

In [76]:
myDictionary3.values()

dict_values(['John', [1, 2, 3, 4], 'Alice', [1, 2, 3, 4]])

In [77]:
myDictionary3.keys

In [78]:
myDictionary4 = {1:'John', 1:[1,2,3,4], 1:'Alice',2:[1,2,3,4]}

In [79]:
print(myDictionary4)

{1: 'Alice', 2: [1, 2, 3, 4]}

In [80]:
myDictionary4.pop(2)

[1, 2, 3, 4]

In [81]:
myDictionary4

{1: 'Alice'}

In [82]:
myDictionary4.popitem()

(1, 'Alice')

In [83]:
myDictionary4

{}

# Set

In [85]:
mySet ={1,2,3}

In [86]:
print(mySet)

{1, 2, 3}

Union - |

In [87]:

mySet1 ={1,2,'c'}
mySet2={1,'b','c'}

In [89]:
mySet1|mySet2

{1, 2, 'b', 'c'}

In [90]:
type(mySet1)

set

Union - Keyword

In [91]:
mySet1.union(mySet2)

{1, 2, 'b', 'c'}

In [92]:
print(mySet1,mySet2)

{1, 2, 'c'} {1, 'b', 'c'}

In [93]:
mySet1.intersection(mySet2)

{1, 'c'}

In [94]:
print(mySet1,mySet2)

{1, 2, 'c'} {1, 'b', 'c'}

In [95]:
mySet1 & mySet2

{1, 'c'}

In [96]:
mySet1.difference(mySet2)

{2}

In [97]:
mySet1.pop()

1

In [98]:
mySet1

{2, 'c'}

In [99]:
print(mySet1,mySet2)

{2, 'c'} {1, 'b', 'c'}

In [100]:
mySet1 ={1,2,'c','d'}
mySet2={1,'b','c'}

In [101]:
mySet1.update(mySet2)

In [102]:
mySet1

{1, 2, 'b', 'c', 'd'}

# Loops

# IF

In [104]:
if condition :
    statement1
    
statement2

NameError: name 'condition' is not defined

In [108]:
i =10
if (i < 15):
    print("10 is less than 15")
else:
    print("X is greater than 15")
print("Iam not in If condition")

10 is less than 15
Iam not in If condition

# If elif else ladder

In [113]:
i = 10
if (i==10):
    print("i is 10")
elif (i==15):
    print("i is 15")
elif (i==20):
    print("i is 20")
elif (i==30):
    print("i is 30")
else:
    print("i is not present")
    
print("This is outside of if")

i is 10
This is outside of if

Nested if

In [ ]:
i = 10
if (i==10):
    print("i is 10")
    if (i<15):
        print("i is smaller than 15")
elif (i==15):
    print("i is 15")
elif (i==20):
    print("i is 20")
elif (i==30):
    print("i is 30")
else:
    print("i is not present")
    
print("This is outside of if")

# FOR LOOP

for Var in Interable:

'' or " "

'''

'''

In [ ]:
l =["this","is","a","list"]

In [ ]:
for i in l:
    print(i)

In [ ]:
t =("this","is","a","tupule")
for i in t:
    print(i)

In [ ]:
d= dict()
d['xyz']=123
d['abc']=345
d.keys()
d.values()

#for i in d:
 #   print("%s%  d"% (i,d[i]) )

In [ ]:
d['xyz']=123
d['abc']=345

for i in d:
    print(i, d[i] )

# CONTINUE

In [ ]:
for letter in "TestContinue":
    if letter =='C':
           continue
    print('current letter:',letter)
print('letter==\'C\' is true so skip but CONTINUE the Loop')

# Break

In [ ]:
for letter in "TestBreak":
    if letter =='B':
           break
    print('current letter:',letter)
print('letter==\'B\' is true and so BREAK the loop and exit')

# Range

In [ ]:
for i in range(10):
    print(i)

In [ ]:
l =[10,20,30,40]
#print(len(l))
for i in range(len(l)):
    print(l[i])

# Range (Start, End, Step Up)

In [ ]:
#sum =0
#for i in range (1,10):
for i in range (1,10,3):
    print("Print the numbers:",i)
    #sum = sum + i
    #print("Print the numbers:",sum)

# For Else

In [ ]:
for  i in range (1,4):
    print(i)
else:
    print("Else")

# While

In [ ]:
count =0
while (count < 3):
    count = count +1
    print("Hello Team")

In [ ]:
i=0
a ="whilecont"
while  i < len(a):
    if a[i]=='e' or a[i]=='h':
        
        print('cont:',i)
        i = i +1
        continue
        
    
    print("current letter:",a[i])
    print('whiletext:',i)
    i = i +1

# While Else

In [ ]:
i =0
while i <4:
    i += 1
    print(i)
else:
    print("this is else")

# Key Differences between LIST and TUPULE
Mutable vs Immutable

LIST

In [ ]:
l =["apples","bannas"]
print(l)

In [ ]:
id(l)

In [ ]:
l[0]= "berries"

In [ ]:
print(l)

In [ ]:
id(l)

TUPULE

In [ ]:
t =("apples","bannas")
print(t)

In [ ]:
id(t)

In [ ]:
t[0]= "berries"

In [ ]:
t =("berries","bannas")
print(t)

In [ ]:
id(t)

In [ ]:
print(t[0])

In [ ]:
t[1]

# 01 July 2020

# Key Differences between LIST and TUPULE

# performance - When to use

In [ ]:
#time taken by mutalble list
import time

def using_List():
    t1 = time.time()#Starting/Initial Time
    L=[]
    X = range(50000)
    for item in X:
        L.append(item)
    #print(L)
    return time.time()-t1

list_time = using_List()
print(list_time)

In [ ]:
#time taken by mutalble list
import time

def using_Tupule():
    tt1 = time.time()#Starting/Initial Time
    T=()
    X = range(50000)
    for item in X:
        T = T + (item,)
        #single tuple needs a ,
    #print(T)
    return time.time()-tt1

Tupule_time = using_Tupule()
print(Tupule_time)

# Debugging problems for Mutable Data Types

In [ ]:
a=[1,3,5,7]
b=a

print(a)
print(id(a))
print(b)
print(id(b))
#to copy the values of the list to a new location
c=a.copy()

print(c)
print(id(c))
#to copy the values of the list to a new location- using key word list
d= list(a)

print(d)
print(id(d))

In [ ]:
b[0]=-10

print(b)
print(id(b))

In [ ]:
print(a)
print(id(a))

# User Defined Functions and Passing Parameters

Create a function

In [ ]:
def Classify_on_age(age):
    classification =""
    if age < 13:
        classification ="Hello Kid"
    elif age > 13 and age < 20:
        classification ="Hello Teen"
    elif age > 20 and age < 25:
        classification ="Hello Adult"
        
    else: 
        classification ="Hello Professional"
    return classification

In [ ]:
output=Classify_on_age(10)
print(output)

In [ ]:
def fun1(a,b,c):
    print (a,b,c)

In [ ]:
def fun2(a,b,c):
    return (a,b,c)

In [ ]:
#fun1(40,50,60)
print(fun1(10,20,30))

In [ ]:
def fun3(a,b,c):
    print (a,b,c)

In [ ]:
fun3(10,20)

Default Values

In [ ]:
def fun4(a,b,c=10):
    print (a,b,c)

In [ ]:
fun4(10,20)

# Unlimited number of Parameters

*args will help pass unlimited number of parameters, *args is the coding convention, but any name can used

In [ ]:
def fun5 (*args):
    print(args)
    print(type(args))

In [ ]:
fun5(10,20,30,40,50)

In [ ]:
fun5(10,'python',30,40,50)

In [ ]:
def fun6 (*custom):
    print(custom)
    print(type(custom))

In [ ]:
fun6(10,'python',30,40,50)

# unlimited parameters as key value pair

In [ ]:
def fun7 (**keyargs):
    print(keyargs)
    
    print(keyargs.keys())
    print(keyargs.values())
    print(type(keyargs))

In [ ]:
fun7(a=10,b='Python', age=50)

In [ ]:
def fun8 (**keycustom):
    print(keycustom)
    print(type(keycustom))

In [ ]:
fun8(a=10,b='Python', age=50)

# Return Dictionary

In [ ]:
def fun9():
    
    dictTable={1:'name',2:'age',3:'gender'}
    
    return dictTable

In [ ]:
a=fun9()
print(a)

# Pass a Unlimited  arguments and argument types

In [ ]:
#def fun8 (**keycustom):

In [ ]:
def fun11(a,b,c=10, *args, **keyargs):
    print(a,b,c)
    print (args)
    print(keyargs)

    
fun11(10,20,30,40,50,60,70,name='jack',age='30',business='Telecom',tel='120')

# Pass a 'list' as an argument

In [ ]:
def fun10(nameList):
    for x in nameList:
        print(x)

In [ ]:
nameList =["jack","jill"]
fun10(nameList)

# Pass a 'list' as an argument - Method 2- * args for iterables

In [ ]:
# sum_integers_args_3
def my_sum(*args):
    result = 0
    for x in args:
        result += x
    return result

list1 = [1, 2, 3]
list2 = [4, 5]
list3 = [6, 7, 8, 9]

print(my_sum(*list1, *list2, *list3))

# Passing parameters as Dictionary

In [ ]:
# Python program to demonstrate 
# passing dictionary as argument 
# A function that takes dictionary 
# as an argument 
def func(d): 
	
	for key in d: 
		print("key:", key, "Value:", d[key]) 
		
# Driver's code 
D = {'a':1, 'b':2, 'c':3} 
func(D)

# Pass a 'Dictionary' as an argument

In [ ]:
# A function that takes dictionary  as an argument 
def func(d): 
	
	for key in d: 
		print("key:", key, "Value:", d[key]) 
		
# Driver's code 
D = {'a':1, 'b':2, 'c':3} 
func(D)

# Pass a 'Dictionary' as an argument - Method 2, **args

In [ ]:
# Python program to demonstrate 
# passing dictionary as kwargs 
def display(**name): 

    print (name["fname"]+" "+name["mname"]+" "+name["lname"]) 


    # passing dictionary key-value 
    # pair as arguments 
display(fname ="John", mname ="F.", lname ="Kennedy")

# External output in Jupyter (Input)

# Print formatting - using % String Modulo

integer and floats for printing

In [ ]:
print("Team: %d, Work: %.2f" % (1000.000,00050000.33999))

In [ ]:
print("Team: %d" % (2500000000000000000000000000000))

octal values -0

In [ ]:
print("Team: %2o" % (2500000000000000000000000000000))

In [ ]:
print("Team: %10.3E"% (0500007.339999999999))

# Print formatting - using {} placeholders

In [ ]:
print("this is {} team for {}" .format('mobily','football'))

In [ ]:
print("this is {0} team for {1}" .format('mobily','football'))

# integers -d and float -f

In [ ]:
print("this is {1} team for {0}" .format('mobily','football'))

In [ ]:
print("this is {0:2.2f} team for {1:d}" .format(12.4445,200))

# 02 July 2020

# Print dictionary p

In [ ]:
#myDictionary4 = {1:'John', 1:[1,2,3,4], 1:'Alice',2:[1,2,3,4]}

#tab = {'empid':[127,3232,234], 'deptid':212}
tab = {'empid':127, 'deptid':212}
print(tab['empid'])
print(tab)
print("Empid: {0[empid]:d}; DeptId: {0[deptid]:f}" .format(tab))

In [ ]:
teamDict={'name':"Jack",'Team':"Mobily"}
print(teamDict)

print("Footballer {0[name]} plays for team {0[Team]}" .format(teamDict))

# File Handling

In [ ]:
'''
Open()
parameters:
    r : reading
    w : writing
    a : appending
various modificaitons to the above 
    r+
    w+
'''

In [ ]:
file1 = open("mobily3.txt",'w')
file1.write("this is mobily team1\n")
file1.write("this is mobily team2\n")
file1.close()

# with

In [ ]:
with open("mobily.txt") as file4:
    data = file4.read()
    print(data)
#file.close()

split()

In [ ]:
with open("mobily.txt","r") as file5:
    data = file5.readline()
   
    #for line in data:
    
    #word = line.split()
    #print(word)
    print(data)

In [ ]:
with open("mobily.txt","r") as file5:
    data = file5.readlines()
    
    for line in data:
        word = line.split()
    print(word)
    print(data)

seek

In [ ]:
with open("mobily.txt","r") as file7:
    data = file7.readlines()
    file7.seek(0)
    data = file7.readlines()
    print(data)
    file7.seek(7)
    #print(file7.read(7))
    data2 = file7.readlines()
    print(data2)
    #print(file7.read(50))
    
    #for line in data:
    #    word = line.split()
    #print(word)
    #print(data)

# Read Write operations using Multiple files

In [ ]:
file8 = open("mobily2.txt","a")
L = ["this is mobily team4\n","this is mobily team5\n","this is mobily team6\n"]

file8.write("Hello\n")
file8.writelines(L)
file8.close()

In [ ]:
with open("mobily2.txt","r") as file9:
    data = file9.readline()
    #file.seek(7)
    print(data)
    
    for line in data:
        word = line.split()
    print(word)
    #print(data)

# File operations using Pandas

In [ ]:
#File Handling in Jupyter using Pandas
import pandas as pd
#df1 = pd.read_csv("C:/Users/HP/Downloads/Intelli/IntelliDataSciencePython/PythonDataScience/1PythonTrainingToUSe/Module1_GettingStarted_With_python/CodeFiles/Cars.csv")
#df1 = pd.read_csv("C:/Users/arunk/Downloads/Intelli/IntelliDataSciencePython/PythonDataScience/1PythonTrainingToUSe/Module1_GettingStarted_With_python/CodeFiles/Cars.csv")

df2 = pd.read_csv("C:\\Users\\arunk\\Downloads\\Intelli\\IntelliDataSciencePython\\PythonDataScience\\1PythonTrainingToUSe\\Module1_GettingStarted_With_python\\CodeFiles\\Cars.csv")

#C:\\Users\\arunk\\Downloads\\Intelli\\IntelliDataSciencePython\\PythonDataScience\\1PythonTrainingToUSe\\Module1_GettingStarted_With_python\\CodeFiles
    
#print(df1)
print(df2)

Python Native FIle handling

In [ ]:
#Example
#f = open("demofile.txt", "r")
f = open("Cars.csv", "r")
print(f.read())

In [ ]:
#Example: Append
f = open("demofile2.txt", "a")
f.write("Now the file has one more line!")
f.close()

In [ ]:
#Example: Overwrite
f = open("demofile2.txt", "w")
f.write("Create teh file!")
#f.write("Woops! I have deleted the content!")
f.close()

In [ ]:
# Deleting the file
import os
os.remove("demofile.txt")

# Friday 03 July 2020

Please refer to Mutable and Lambda File<br>
MutableImutableLambadaExample-MobilyArun.ipynb

# Wednesday 08 July 2020

In [ ]:
a=lambda x: (x%2 != 0)
print(a(5))

# Using Filter() with Lambda

In [ ]:
# Python code to illustrate 
# filter() with lambda() 
li = [5, 7, 22,24,26, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0) , li)) 
print(final_list)

# function that filters vowels

In [ ]:
# function that filters vowels

def fun(variable): 
	letters = ['a', 'e', 'i', 'o', 'u'] 
	if (variable in letters): 
		return True
	else: 
		return False


# sequence 
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r'] 

# using filter function
#we are creating list of vowels and filltering out only the vowels below:
filtered = filter(fun, sequence) 

print('The filtered letters are:') 
for s in filtered: 
	print(s)

# Map

Use of lambda() with map()

The map() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new list is returned which contains all the lambda modified items returned by that function for each item. Example:

In [ ]:
# Python code to illustrate 
# map() with lambda() 
# to get double of a list. 
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(map(lambda x: x*2 , li)) 
print(final_list)

# Error and Exception Handling in Python

Examples of Different types of Error are Given Below:

In [ ]:
int('five')

In [ ]:
some_list=[1,2,3,4]
some_list[5]

In [ ]:
a = "defined"
print(x)

In [ ]:
def func1():
a=1
print(a)

# Blocks for Error or Exception Handling

In [ ]:
try: 
    #run the code
except:
    #executes the code when we there is an exception 
else: 
    #executes the code when thre is NO exception
finally: 
    #executes the code the code always

In [ ]:
#run the code
f = open("Cars1.csv", "r")
print(f.read())

In [ ]:
#Example



try: 
    #run the code
    f = open("Cars.csv", "r")
    print(f.read())

except:
    #executes the code when there is an exception
    print("There is not file by this name")
else: 
    #executes the code when thre is NO exception
    print("There is a file by this name")
finally: 
    f.close()
    #executes the code the code always
    print("This runs always in the Finllay")

another example

In [ ]:


try: 
    #run the code
    f = open("Cars1.csv", "r")
    print(f.read())

except:
    #executes the code when there is an exception
    print("There is not file by this name")
else: 
    #executes the code when thre is NO exception
    print("There is a file by this name")
finally: 
    f.close()
    #executes the code the code always
    print("This runs always in the Finllay")

In [ ]:
a=100/0

In [ ]:
try: 
    #run the code
    f = open("Cars1.csv", "r")
    print(f.read())
    #a=100/0
    #print(t)

except FileNotFoundError as e:
    #executes the code when there is an exception
       print(e)
    
except ZeroDivisionError:
    #executes the code when there is an exception
      print("This is a Syntax Error")

except SyntaxError:
    #executes the code when there is an exception
      print("This is a Syntax Error")



#else: 
    #executes the code when thre is NO exception
    #print("There is a file by this name")
#finally: 
#    f.close()
    #executes the code the code always
    #print("This runs always in the Finllay")

In [ ]:
try: 
    #run the code
    f = open("Cars1.csv", "r")
    print(f.read())

except FileNotFoundError:
    #executes the code when there is an exception
       print(FileNotFoundError)



#else: 
    #executes the code when thre is NO exception
    #print("There is a file by this name")
#finally: 
#    f.close()
    #executes the code the code always
    #print("This runs always in the Finllay")

# Generic Approach for errors

In [ ]:
try: 
    #run the code
    #a=100/0
    f = open("Cars1.csv", "r")
    print(f.read())
    
except FileNotFoundError as e:
    #executes the code when there is an exception
       print("Error occured:",e)
except ZeroDivisionError as e:
    #executes the code when there is an exception
       print("Error occured:",e)
        
except Exception as e:
    #executes the code when there is an exception
      print("Error occured:",e)
    
else: 
    #executes the code when thre is NO exception
    #print("There is a file by this name")
finally: 
    f.close()
    #executes the code the code always
    print("This runs always in the Finllay")

# using the Key word Raise

In [ ]:
try:
    even = int(input('Please enter an even number:'))
    if even % 2 != 0:
        print('a')
        raise ValueError("Error: You did not provide an even number")
except Exception as e:
    print(e)

except ValueError as e:
    print(e)

In [ ]:
list.

In [ ]:
#list:
list.remove

def list_append:
    this program will append values to a list

In [ ]:
def list_clear:
    this program will clear the  values to a list

# End of Basics of Python and Python Constructs