# Getting Started with Python

26 June 2020

Assigning variables in Python

In [79]:
a=10
name="Victor"
#name=10
salary=2000.3

print(a)
print(name)
print(salary)

10
Victor
2000.3

See the datypes

In [80]:
print(type(a))

<class 'int'>

In [81]:
print(type(name))

<class 'str'>

In [82]:
print(type(salary))

<class 'float'>

Assigning multiple values to a variable

In [83]:
a=b=c=10
print(a)
print(c)
x,y,z=10,20,30
print(x)
print(z)

10
10
10
30

In [84]:
x,y,z=10,20

ValueError: not enough values to unpack (expected 3, got 2)

# String Literals

In [85]:
name1="John"
name2="james"
print(name1)
print(name2)

#multiline using \
text1='hello\
world'
print(text1)
text2='hello \
world'

print(text2)

#multiline in the print ''' .....'''
multiline ='''st1
......String2
......String3
'''
print(multiline)

John
james
helloworld
hello world
st1
......String2
......String3

# Special Literals

In [86]:
val1=10
val2 =None
val4=''
val3='None'
print(val1)
print(val2)
print(val1,val2)
print(type(val2))
print(type(val3))
val2=200
print(val2)

10
None
10 None
<class 'NoneType'>
<class 'str'>
200

# Operators +,-*,/,%

In [90]:
1+2

3

In [91]:
1-2

-1

In [92]:
3*6

18

In [93]:
2%1

0

# How to use the intellisense in jupyter

press a first or 2 alphabets and press the tab.

In [1]:
print(a)

NameError: name 'a' is not defined

# Assignment operators, Assign values

In [97]:
a =10
print(a)

10

In [98]:
b = 10*10
print(b)

c *=10
print(c)

#d *=15
#print(d)

100
1000

# Comparision Operators: <,>,<=,>=, !=,==

In [99]:
a = 10
b= 20
a > b

False

In [100]:
a = 10
b= 20
a != b

True

In [101]:
a==b

False

# Numbers /Integers

In [102]:
a =10
print(a)

10

# Strings

In [2]:
str1 = 'Hello-World!'
str2 = 'PythonTutorial1'
str.
print(str1[0])
print(str2[1:5])
#the 1 is inclusive, and 5 is exclusive

H
ytho

# find()

In [104]:
str="Attachment"
str.find('me')
str.find('Me')

-1

In [105]:
str.replace('me','aa')

'Attachaant'

In [106]:
strsplit1= 'word1,word2,word3'
strsplit1.split(',')
print(strsplit1)

str2=strsplit1.split(',')
print(str2[0])

word1,word2,word3
word1

# Tuples

In [107]:
myGroup =('')