In [14]:
import pandas as pd

In [15]:
'''
1. Write a function that takes start and end of a range returns a Pandas series object containing numbers within that range.
   In case the user does not pass start or end or both they sould default to 1 and 10 respectively. EG.:
   range_series() -> Should Return a pandas series from 1 to 10
   range_series(5) -> Should Return a pandas series from 5 to 10
   range_series(5, 10) -> Should Return a pandas series from 5 to 15
'''
def range_series(start = 1, end = 10):
    return pd.Series(list(range(start, end + 1)))

In [19]:
print(range_series())
print(range_series(5))
print(range_series(5, 15))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64
0      5
1      6
2      7
3      8
4      9
5     10
6     11
7     12
8     13
9     14
10    15
dtype: int64

In [20]:
'''
2. Create a function that takes in two lists named keys and values as arguments.
   Keys would be strings and contain n string values.
   Values would be a list containing n lists.
   The methods should return a new pandas dataframe with keys as column names and values as their corresponding values
   e.g. ->
   create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]) -> should return a dataframe
   
      One Two
    
    0  X   A
    
    1  Y   B
   
'''

def create_dataframe(keys, values):
    data_dict = { keys[index]: values[index] for index in range(0, len(keys)) }
    return pd.DataFrame(data_dict)

In [21]:
create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]])

  One Two
0   X   A
1   Y   B

In [6]:
'''
3. Create a function that concatenates two dataframes.
   Use previously created function to create two dataframes and pass them as parameters
   Make sure that the indexes are reset before 
'''
def concat_data_frames(df1, df2):
    return pd.concat([df1, df2]).reset_index(drop=True)

concat_data_frames(
    create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]),
    create_dataframe(["One", "Two"], [["V", "W"], ["C", "D"]])
)

  One Two
0   X   A
1   Y   B
2   V   C
3   W   D

In [7]:
'''
4. Write code to load data from cars.csv into a dataframe and print it's details.
   Details like: 'count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'
'''
cars_df = pd.read_csv('cars.csv')
cars_df.describe()

,S.No,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,29.000000,32.000000,32.000000,32.000000,32.0000
mean,16.500000,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.674828,0.437500,0.406250,3.687500,2.8125
std,9.380832,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.780394,0.504016,0.498991,0.737804,1.6152
min,1.000000,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,8.750000,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.870000,0.000000,0.000000,3.000000,2.0000
50%,16.500000,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.420000,0.000000,0.000000,4.000000,2.0000
75%,24.250000,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.600000,1.000000,1.000000,4.000000,4.0000
max,32.000000,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [8]:
'''
5. Write a method that will take a column name as argument and return the name of the column with which the
   given column has the highest correlation.
   The data to be used is the cars dataset.
   The returned value should not the column named that was passed as the parameters.
   E.G: get_max_correlated_column('mpg') -> should return 'drat'
'''
def get_max_correlated_column(col_name):
    cars_df = pd.read_csv('cars.csv')
    correlation_matrix = cars_df.corr()
    return correlation_matrix[col_name].sort_values(ascending=False).index[1]

In [9]:
get_max_correlated_column('mpg')

'drat'